<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        .w3-sidebar {
            width: 20%;
            background-color: #f1f1f1;
            height: 100vh;
            position: fixed;
            overflow: auto;
        }

        .w3-bar-item {
            padding: 10px 15px;
            text-decoration: none;
            display: block;
            color: #333;
            font-weight: bold;
        }

            .w3-bar-item:hover {
                background-color: #ddd;
                color: #000;
            }

        .w3-sidebar h3 {
            padding: 10px 15px;
            margin: 0;
            background-color: #333;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="w3-sidebar w3-light-grey w3-bar-block">
        <h3 class="w3-bar-item">MENÜ</h3>
        <a href="/Admin/Index/" class="w3-bar-item w3-button @IsActive("/Admin/Index/")"><i class="fas fa-car"></i> ARAÇ İŞLEMLERİ</a>
        <a href="/Admin/Marka/" class="w3-bar-item w3-button @IsActive("/Admin/Marka/")"><i class="fas fa-taxi"></i> MARKA İŞLEMLERİ</a>
        <a href="/Admin/AracTuru/" class="w3-bar-item w3-button @IsActive("/Admin/AracTuru/")"><i class="fas fa-book"></i> ARAÇ TÜRÜ İŞLEMLERİ</a>
        <a href="/Admin/Blog/" class="w3-bar-item w3-button @IsActive("/Admin/Blog/")"><i class="fas fa-fax"></i> BLOG İŞLEMLERİ</a>
        <a href="/Admin/HakkimizdaSayfasi/" class="w3-bar-item w3-button @IsActive("/Admin/Hakkimizda/")"><i class="fas fa-archive"></i> HAKKIMIZDA</a>
        <a href="/Admin/iletisim/" class="w3-bar-item w3-button @IsActive("/Admin/iletisim/")"><i class="fas fa-phone"></i> İLETİŞİM</a>
        <a href="/Home/Index/" class="w3-bar-item w3-button @IsActive("/Home/Index/")"><i class="fas fa-link"></i> Siteye GİT</a>
        <a href="/GirisYap/LogOut/" class="w3-bar-item w3-button @IsActive("/Admin/iletisim/")"><i class="fas fa-lock"></i> ÇIKIŞ</a>
    </div>
    @functions {
    public string IsActive(string url)
    {
        return Request.Url.AbsolutePath.Equals(url, StringComparison.OrdinalIgnoreCase) ? "w3-teal" : "";
    }
    }



    <!-- Page Content -->
    <div style="margin-left:20%">

        @*<div class="w3-container w3-teal">
                <h1>Yönetim Paneli</h1>
            </div>
            <br />
            <br />*@


        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>
